* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signUpBox {
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    padding: 10px 40px;
    text-align: center;
    /* Center align form elements like <p> and <h1> */
}

.signUpBox label {
    font-size: 13px;
}

.signUpBox input {
    background-color: #FAFAFA;
}

.signUpBox h1 {
    font-family: "Kaushan Script", cursive;
    font-weight: bold;
}

.signUpBox p {
    font-size: 16px;
    color: #737373;
    font-weight: 600;
    margin-bottom: 20px;
}

.signUpBox content {
    font-size: 13px;
}

.signUpBox input {
    height: 10px;
}

.login {
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    background-color: #fff;
}

.login a {
    color: #007bff;
    /* Bootstrap primary blue */
    text-decoration: none;
}

.login a:hover {
    text-decoration: underline;
}

.spinner {
  border: 3px solid rgba(255, 255, 255, 0.2);  /* light transparent background */
  border-top: 3px solid white;                /* white top for contrast */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.8s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
