.mainContainer{
    width: 550px;
    background-color: rgb(253, 253, 253);
    border-radius: 10px;
}
.postButton{
width: 80%;
border-radius: 20px;
padding: 7px;
}
.profilePic {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 3px solid #fff;
  margin-top: -0px;
  background-color: #fff;
}
.icons ul{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.icons ul li{
    list-style: none;
    font-weight: bold;
}

.icons li:nth-child(1) svg {
  color: #0cf41b; /* Video: blue */
}

.icons li:nth-child(2) svg {
  color: #006eff; /* Photo: green */
}

.icons li:nth-child(3) svg {
  color: #ff9900; /* Article: yellow/orange */
}

